body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

button.btn-primary {
    background-color: #007BFF;
}

button.btn-primary:hover {
    background-color: #0069d9;
}

button.btn-danger {
    background-color: #DC3545;
}

button.btn-danger:hover {
    background-color: #c82333;
}
