<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input de Palavra</title>
    <link rel="stylesheet" type="text/css" href="login.css" />
</head>
<body>
    <div class="container">
        <form action="/entries/en" method="GET">
            <h2>Insira uma Palavra</h2>
            <div class="form-group">
                <label for="word">Palavra:</label>
                <input type="text" id="word" name="word" required>
            </div>
            <button type="submit">Buscar</button>
        </form>
    </div>
</body>
</html>
